body{
    opacity:0.9;
    width:100%;
    text-align:center;
    background-color: #ff3232;
    color: black;
    font-size: 50px;
    font-family: 'EB Garamond', serif;
}

label{
    font-size: 30px;
}

header, h1 {
    text-decoration: underline;
    font-size: 100px;
    margin: 10px;
    color: white;
    margin-bottom: 40px;
}
input{
    margin-bottom: 40px;
    height: 65px;
}
img {
    width: 600px;
}
.recipeInfo {
    font-size: 35px;
    
}
