body{
    opacity:0.9;
    width:100%;
    text-align:center;
    background-color: #d7cec7;
    color: black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}

label{
    font-size: 30px;
    
}

header, h1 {
    text-decoration: underline;
    font-size: 60px;
    margin: 10px;
    color: #565656;
    margin-bottom: 40px;
}

h2 {
    font-size: 20px;
    margin: 10px;
    color: black;
    margin-bottom: 40px;
}

input{
    margin-bottom: 40px;
    height: 45px;
}
img {
    width: 600px;
    border-radius: 10px;
}

.recipeInfo {
    font-size: 35px;
    
}

.inputs {
    /*border: solid black 2px;*/
    display: inline;
    vertical-align: top;
    font-size: 30px;
}

#searchButton {
    transform: scale(0.80);
}

#searchButton:focus
{
    border: none;
    outline: none;
}

#base {
    border-radius: 25px;
    background-color: #828282;
    width: 50%;
    height: 100%;
    margin: auto;
    padding: 20px;
    display: none;
}

#fact
{
    color: #565656;
    font-size: 20px;
}
.navbar-expand-lg .navbar-collapse {
    font-size: 30px;
}

.recipeModalDivider
{
    border: 1px dashed gray;
}

#doneButton, #saveRecipeButton, #saveChangesButton, #closeButton, #deleteRecipeButton
{
    padding: 10px 50px;
    display: none;
}

#saveRecipeButton
{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

#factText {
    font-size: 18px;
    width: 50%;
    margin: auto;
}
#cookTime{
    width: 20px;
    height: 20px;
}

#navbarUnclickable1:hover, #navbarUnclickable2:hover, #navbarUnclickable3:hover, #navbarUnclickable4:hover
{
    color: rgba(0,0,0,.5);
    /*color: red;*/
    cursor: default;
}

#logInButton:hover, #logOutButton:hover
{
    cursor: default;
}

#loginInfoDiv
{
    color: blue;
}

#usernameTooltipButton
{
    background: transparent;
    font-size: 30px;
    text-decoration: none;
    /*border: none !important;*/
}

#usernameTooltipButton:focus
{
    border: none !important;
    /*outline: none;*/
    outline: 0;
}

#usernameTooltipButton:hover
{
    cursor: default;
}



input[type=checkbox].css-checkbox{ display: none; }

.css-label{
    
    width: 83px;
    height: 48px;
    background-image: url(../img/time.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}

input[type=checkbox].css-checkbox:checked + label.css-label {
 background-position: 0 0;
 border: 3px solid #2FBCDF;
 border-radius: 7px;
}

.specialCheck {
    display: inline;
    vertical-align: top;
    width: 20px;
    height: 20px;
}