body{
    opacity:0.9;
    width:100%;
    text-align:center;
    background-color: #d7cec7;
    color: black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}

label{
    font-size: 30px;
    
}

header, h1 {
    text-decoration: underline;
    font-size: 60px;
    margin: 10px;
    color: #565656;
    margin-bottom: 40px;
}

h2 {
    font-size: 20px;
    margin: 10px;
    color: black;
    margin-bottom: 40px;
}

input{
    margin-bottom: 40px;
    height: 45px;
}
img {
    width: 600px;
    border-radius: 10px;
}

.recipeInfo {
    font-size: 35px;
    
}

.inputs {
    /*border: solid black 2px;*/
    display: inline;
    vertical-align: top;
    font-size: 30px;
}

#searchButton {
    transform: scale(0.80);
}

#searchButton:focus
{
    border: none;
    outline: none;
}

#base {
    border-radius: 25px;
    background-color: #828282;
    width: 50%;
    height: 100%;
    margin: auto;
    padding: 20px;
    display: none;
}

#fact, #joke
{
    color: #565656;
    font-size: 20px;
}
.navbar-expand-lg .navbar-collapse {
    font-size: 30px;
}

.recipeModalDivider
{
    border: 1px dashed gray;
}

#doneButton
{
    padding: 10px 50px;
}


#factText {
    font-size: 18px;
    width: 50%;
    margin: auto;
}